/**
 * AWS Cognito customizations - NYC
 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: 'Noto Sans', sans-serif;
  transition: 0.2s all ease;
}
body,
.banner-customizable {
  background-color: white;
}
.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 20px;
  margin-bottom: 24px;
}
.modal-body {
  padding: 0;
  width: 100%;
}
.modal-dialog {
  margin: 30px 0 0 0;
  width: 300px;
}
.modal-dialog .banner-customizable {
  /* NYC Datalocker logo + mark SVG -- encoded from source SVG in ./assets */
  background: url("data:image/svg+xml,%3Csvg width='155' height='84' fill='%232157E4' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.80276 74.9125v-16.855h5.18616c1.48176 0 2.80528.3357 3.97068 1.0071 1.173.6637 2.0876 1.613 2.7435 2.8478.656 1.227.984 2.6239.984 4.1906v.7756c0 1.5666-.3241 2.9596-.9724 4.179-.6405 1.2194-1.5473 2.1648-2.7204 2.8362-1.1731.6714-2.49661 1.011-3.97065 1.0187H2.80276zm3.47288-14.042v11.2521h1.67855c1.35828 0 2.39631-.4437 3.11401-1.3313.7177-.8875 1.0843-2.157 1.0997-3.8085v-.8914c0-1.7133-.355-3.0098-1.065-3.8896-.71-.8875-1.74798-1.3313-3.11398-1.3313H6.27564zM27.4833 71.4396h-6.0891l-1.1576 3.4729h-3.6928l6.2743-16.855h3.2182l6.309 16.855h-3.6928l-1.1692-3.4729zm-5.1514-2.813h4.2137l-2.1184-6.3091-2.0953 6.3091zm22.8862-7.7561h-5.163v14.042h-3.4728v-14.042h-5.0936v-2.813h13.7294v2.813zm10.1177 10.5691h-6.0891l-1.1577 3.4729h-3.6928l6.2743-16.855h3.2182l6.3091 16.855H56.505l-1.1692-3.4729zm-5.1515-2.813h4.2138l-2.1185-6.3091-2.0953 6.3091zm15.0607 3.496h7.3741v2.7899H61.7722v-16.855h3.4728v14.0651zm22.4811-5.2556c0 1.6593-.2932 3.114-.8798 4.3642-.5865 1.2503-1.4277 2.215-2.5236 2.8941-1.0882.6791-2.3384 1.0187-3.7507 1.0187-1.3969 0-2.6432-.3357-3.7391-1.0071-1.0959-.6714-1.9448-1.6284-2.5468-2.8709-.602-1.2503-.9068-2.6857-.9145-4.3064v-.8335c0-1.6592.2971-3.1179.8913-4.3758.602-1.2657 1.4471-2.2342 2.5352-2.9056 1.0959-.6792 2.3462-1.0188 3.7507-1.0188 1.4046 0 2.651.3396 3.7392 1.0188 1.0959.6714 1.9409 1.6399 2.5352 2.9056.6019 1.2579.9029 2.7127.9029 4.3642v.7525zm-3.5192-.764c0-1.7673-.3164-3.1102-.9492-4.0286-.6328-.9184-1.5358-1.3775-2.7089-1.3775-1.1653 0-2.0644.4553-2.6972 1.366-.6329.9029-.9531 2.2303-.9608 3.9822v.8219c0 1.721.3164 3.0561.9492 4.0054.6328.9492 1.5435 1.4239 2.732 1.4239 1.1653 0 2.0606-.4554 2.6857-1.366.6251-.9184.9415-2.2535.9492-4.0054v-.8219zm19.2741 3.195c-.131 1.8136-.802 3.2414-2.014 4.2832-1.204 1.0419-2.7936 1.5628-4.7693 1.5628-2.1609 0-3.8626-.7254-5.1051-2.1763-1.2348-1.4586-1.8522-3.4575-1.8522-5.9965v-1.0303c0-1.6207.2855-3.0484.8566-4.2832s1.3853-2.1802 2.4426-2.8362c1.065-.6637 2.2998-.9956 3.7044-.9956 1.9448 0 3.511.521 4.7 1.5628 1.188 1.0419 1.875 2.5044 2.061 4.3874h-3.473c-.0852-1.0881-.3901-1.8753-.9149-2.3615-.517-.4939-1.3081-.7409-2.3731-.7409-1.1576 0-2.0258.4168-2.6046 1.2502-.5711.8258-.8644 2.1108-.8798 3.8549v1.2734c0 1.8213.2739 3.1526.8219 3.9938.5556.8412 1.4277 1.2618 2.6162 1.2618 1.0727 0 1.8715-.2431 2.3963-.7293.5325-.4939.8373-1.2541.915-2.2805h3.472zm7.56-1.146l-1.806 1.9448v4.8157h-3.473v-16.855h3.473v7.6403l1.528-2.0953 4.295-5.545h4.271l-5.985 7.4898 6.159 9.3652h-4.133l-4.329-6.7605zm19.911-.5441h-6.668v4.5147h7.825v2.7899h-11.298v-16.855h11.275v2.813h-7.802v4.017h6.668v2.7204zm9.434 1.1345h-2.766v6.1701h-3.473v-16.855h6.263c1.991 0 3.527.4437 4.607 1.3312 1.08.8876 1.621 2.1416 1.621 3.7623 0 1.1499-.251 2.1108-.753 2.8825-.494.764-1.246 1.3737-2.257 1.8291l3.646 6.8878v.1621h-3.727l-3.161-6.1701zm-2.766-2.8131h2.801c.872 0 1.548-.2199 2.026-.6598.479-.4476.718-1.0612.718-1.8406 0-.7949-.228-1.4201-.683-1.8754-.448-.4553-1.139-.683-2.072-.683h-2.79v5.0588zM141.871 21.4181l2.967-2.9279V9.58948L135.935.688736h-29.716L97.3158 9.58948V39.2977l8.9032 8.9007h29.716l8.903-8.9007v-8.9398l-2.967-2.9669h-14.839v2.9669h-11.871V18.4902h11.871v2.9279h14.839zM17.1478 48.1984l2.9677-2.9669V33.3248l14.8387 14.8736h11.9099l2.9678-2.9669V3.65565L46.8641.688736H34.9542L31.9864 3.65565V15.5233L17.1478.688736H5.27687L2.30914 3.65565V45.2315l2.96773 2.9669H17.1478z'/%3E%3Cpath d='M97.3154 3.65565L94.3477.688736h-11.871L79.509 3.65565v5.93383l-5.9355 5.93382-5.9354-5.93382V3.65565L64.6704.688736h-11.871L49.8317 3.65565V21.4571l14.8387 14.8737v8.9007l2.9677 2.9669H79.509l2.9677-2.9669v-8.9007l14.8387-14.8737V3.65565zM6.91258 22.1533c0 .9101-.25393 1.5965-.76179 2.0591-.50786.4576-1.21686.6863-2.12699.6863H2.50776v-5.3853H4.1822c.55311 0 1.03332.1006 1.44061.3017.41233.2011.72911.4978.95036.89.22628.3872.33941.8699.33941 1.4482zm-1.01069.0301c0-.6436-.14834-1.1163-.44501-1.418-.29164-.3017-.71654-.4525-1.27468-.4525h-.709v3.7788h.58077c1.23195 0 1.84792-.6361 1.84792-1.9083zm5.33861 2.7153l-.4903-1.4255H8.72125l-.48272 1.4255H7.21275l1.97614-5.4079h1.10121l1.9761 5.4079h-1.0257zm-1.2069-3.643c-.0201-.0704-.05023-.1659-.09046-.2866-.04023-.1207-.08045-.2439-.12068-.3696-.0352-.1307-.06286-.2388-.08297-.3243-.02514.1006-.05782.2162-.09805.3469-.0352.1308-.0704.254-.1056.3696-.03519.1157-.06034.2037-.07542.264l-.47518 1.3878h1.51606l-.4677-1.3878zm4.3414 3.643h-.9654V20.328h-1.5462v-.8146h4.0578v.8146H14.375v4.5707zm5.1666 0l-.4902-1.4255h-2.029l-.4827 1.4255h-1.0258l1.9762-5.4079h1.1012l1.9761 5.4079h-1.0258zm-1.2068-3.643c-.0201-.0704-.0503-.1659-.0905-.2866-.0402-.1207-.0804-.2439-.1207-.3696-.0352-.1307-.0628-.2388-.0829-.3243-.0252.1006-.0579.2162-.0981.3469-.0352.1308-.0704.254-.1056.3696-.0352.1157-.0603.2037-.0754.264l-.4752 1.3878h1.5161l-.4677-1.3878zm2.9408 3.643v-5.3853h.9655v4.5708h2.2476v.8145h-3.2131zm8.8117-2.7002c0 .5582-.093 1.0459-.279 1.4633-.181.4123-.4601.7341-.8372.9654-.3772.2313-.8498.347-1.418.347-.5733 0-1.0484-.1157-1.4256-.347-.3721-.2313-.6511-.5556-.8372-.973-.181-.4173-.2715-.9051-.2715-1.4632 0-.5531.0905-1.0359.2715-1.4482.1861-.4173.4651-.7391.8372-.9654.3772-.2313.8549-.347 1.4331-.347.5682 0 1.0384.1157 1.4105.347.3771.2263.6562.5481.8372.9654.186.4123.279.8976.279 1.4557zm-4.0503 0c0 .6085.1207 1.0861.3621 1.4331.2413.347.626.5204 1.154.5204.533 0 .9176-.1734 1.154-.5204.2413-.347.362-.8246.362-1.4331 0-.6084-.1182-1.0861-.3545-1.4331-.2363-.3469-.621-.5204-1.154-.5204-.528 0-.9151.1735-1.1615.5204-.2414.347-.3621.8247-.3621 1.4331zm7.49-1.9459c-.4927 0-.8749.1759-1.1464.5279-.2665.352-.3998.8297-.3998 1.4331 0 .6084.1257 1.0861.3771 1.4331.2515.3419.6386.5129 1.1616.5129.2263 0 .4475-.0227.6637-.0679.2162-.0503.4425-.1157.6789-.1961v.8221c-.2213.0905-.4451.1559-.6713.1961-.2213.0403-.4777.0604-.7694.0604-.5531 0-1.0107-.1132-1.3727-.3394-.362-.2313-.6311-.5532-.8071-.9655-.1759-.4173-.2639-.9051-.2639-1.4632 0-.5431.098-1.0208.2941-1.4331.1961-.4174.4827-.7442.8599-.9805.3821-.2364.8472-.3545 1.3953-.3545.2716 0 .5381.0327.7995.098.2665.0604.5154.1458.7467.2565l-.3318.7919c-.1911-.0855-.3897-.1609-.5959-.2262-.2011-.0704-.4073-.1056-.6185-.1056zm6.6734 4.6461h-1.1088l-1.599-2.3834-.5053.3998v1.9836h-.9655v-5.3853h.9655v2.5343c.1005-.1257.2036-.254.3092-.3847.1056-.1307.2112-.2615.3168-.3922l1.4557-1.7574h1.0937l-1.9762 2.3683 2.0139 3.017zm3.7672 0h-3.0623v-5.3853h3.0623v.807h-2.0968v1.3728h1.961v.807h-1.961v1.584h2.0968v.8145zm2.6747-5.3853c.709 0 1.2319.1307 1.5688.3922.3419.2615.5129.6587.5129 1.1917 0 .2615-.0503.4853-.1508.6713-.0956.1861-.2213.3419-.3772.4676-.1559.1207-.3243.2188-.5053.2942l1.5462 2.3683h-1.0861l-1.2898-2.1269h-.7844v2.1269h-.9655v-5.3853h1.5312zm-.0604.807h-.5053v1.6594h.5355c.3972 0 .6839-.0704.8598-.2112.1811-.1458.2716-.3595.2716-.6411 0-.2917-.0956-.4978-.2866-.6185-.1861-.1257-.4777-.1886-.875-.1886z'/%3E%3C/svg%3E")
    no-repeat;
  margin: 0 auto;
  width: 155px;
  height: 83px;
}
a:hover {
  text-decoration: none !important;
}
form {
  margin-top: 10px;
}
.background-customizable,
.inputField-customizable,
.inputField-customizable:focus {
  box-shadow: none;
}
.textDescription-customizable,
p.redirect-customizable > span {
  display: none;
}
.label-customizable {
  margin-top: 20px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}
.inputField-customizable {
  outline: 0;
  margin-bottom: 2px;
  transition: 0.3s;
  border: 1px solid #b4b8bf;
  box-sizing: border-box;
  border-radius: 5px;
  height: 50px;
  font-size: 17px;
  line-height: 23px;
  color: #b4b8bf;
  padding: 12px 15px;
}
.inputField-customizable:focus {
  border-width: 1px;
  border-color: #2157e4;
  color: #222222 !important;
}
a.redirect-customizable {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #1748c5;
  float: right;
  margin-top: 4px;
}
p.redirect-customizable {
  border: none;
  font-weight: bold;
  font-size: 17px;
  line-height: 23px;
  margin-top: 30px;
}
p.redirect-customizable > a {
  color: #2157e4;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
  background-color: #1748c5 !important;
  border: none !important;
}
.submitButton-customizable {
  border: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  letter-spacing: -0.03em;
  color: white;
  background-color: #2157e4;
  border-radius: 6px;
  margin: 60px auto 0 auto;
  padding: 20px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 220px;
  min-height: 45px;
}
.submitButton-customizable:hover {
  background-color: #1748c5;
}
.submitButton-customizable span {
  white-space: break-spaces;
}
.passwordCheck-valid-customizable {
  color: #2affb8; /* Success */
  margin-bottom: 12px;
  display: flex;
}
.passwordCheck-notValid-customizable {
  color: #ff5c62; /* Error */
  margin-bottom: 12px;
  display: flex;
}
.passwordCheck-notValid-customizable span:nth-child(2),
.passwordCheck-valid-customizable span:nth-child(2) {
  padding-left: 12px;
}
.errorMessage-customizable {
  color: #ff5c62; /* Error */
  border: none;
  background: none;
  margin-top: 30px;
  text-align: center;
}
