@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}
// Convert px to rem
@function rem($pxValue) {
  @return #{stripUnit($pxValue) / stripUnit($font-size-root)}rem;
}

@mixin ellipsis() {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
