@import 'helpers';

// Ref: https://github.com/nuxt-community/vuetify-module#customvariables

$font-size-root: 16px;
$body-font-family: 'Noto Sans', sans-serif;
$heading-font-family: 'Noto Sans', sans-serif;

// Breakpoints
$grid-breakpoints: (
  'xs': 0,
  'sm': 480px,
  'md': 768px,
  'lg': 960px,
  'xl': 1280px,
);

// Button
$btn-active-opacity: 0;
$btn-border-radius: 0.4rem;
$btn-focus-opacity: 0;
$btn-font-weight: 500;
$btn-hover-opacity: 0;
$btn-letter-spacing: 0;
$btn-text-transform: none;

// Border Radius
$border-radius-root: 0.4rem;

// Card
$card-btn-padding: 0 1rem;

// See https://vuetifyjs.com/en/styles/text-and-typography/#typography

// Typography
$headings: (
  // ---- Title font ----
  'heading-1':
    (
      'size': 1.25rem,
      'weight': 600,
      'line-height': 135%,
      'letter-spacing': 0,
      'font-family': $heading-font-family,
      'text-transform': false,
    ),
  // ---- Heading font ----
  'heading-2':
    (
      'size': 1.0625rem,
      'weight': 600,
      'line-height': 135%,
      'letter-spacing': 0,
      'font-family': $heading-font-family,
      'text-transform': false,
    ),
  // ---- Subheading font ----
  'heading-3':
    (
      'size': 0.9375rem,
      'weight': 600,
      'line-height': 135%,
      'letter-spacing': 0,
      'font-family': $heading-font-family,
      'text-transform': false,
    ),
  // ---- Menu font ----
  'body-1':
    (
      'size': 1.0625rem,
      'weight': normal,
      'line-height': 135%,
      'letter-spacing': 0,
      'font-family': $body-font-family,
      'text-transform': false,
    ),
  'body-3': (
    'size': rem(15px),
    'weight': 400,
    'line-height': rem(20.43px),
    'letter-spacing': 0,
    'font-family': $body-font-family,
    'text-transform': false,
  ),
  // ---- Button font ----
  'button':
    (
      'size': 1.0625rem,
      'weight': 500,
      'line-height': 135%,
      'letter-spacing': 0,
      'font-family': $body-font-family,
      'text-transform': false,
    ),
  // ---- Label font ----
  'subtitle-1':
    (
      'size': 1.0625rem,
      'weight': 600,
      'line-height': 135%,
      'letter-spacing': 0,
      'font-family': $body-font-family,
      'text-transform': false,
    ),
  // ---- Sublabel font ----
  'subtitle-2':
    (
      'size': 0.875rem,
      'weight': normal,
      'line-height': 135%,
      'letter-spacing': 0,
      'font-family': $body-font-family,
      'text-transform': false,
    ),
  'menu-2': (
    'size': 0.9375rem,
    'weight': 500,
    'line-height': 135%,
    'letter-spacing': 0,
    'font-family': $body-font-family,
    'text-transform': false,
  ),
  // ---- S1 List label font ----
  'list-1':
    (
      'size': rem(17px),
      'weight': 500,
      'line-height': 135%,
      'letter-spacing': 0,
      'font-family': $body-font-family,
      'text-transform': false,
    ),
  // ---- S2 List sublabel font ----
  'list-2':
    (
      'size': rem(13px),
      'weight': 400,
      'line-height': rem(17.71px),
      'letter-spacing': 0,
      'font-family': $body-font-family,
      'text-transform': false,
    )
);

$material-light: (
  'background': #fff,
);

@import '~vuetify/src/styles/styles.sass';
