#__nuxt {
  .__nuxt-error-page {
    .error {
      background-color: transparent !important;
    }
  }
  // Error Message
  .v-alert {
    &.error {
      color: var(--white) !important;
      border-color: var(--error) !important;
      background-color: var(--error) !important;
    }
  }

  // Text
  .error--text,
  .red--text {
    color: var(--error) !important;
  }
  .secondary--text {
    color: var(--blue) !important;
  }
  .v-sheet {
    color: var(--grey-9);
  }

  .font-weight-medium {
    font-weight: 500;
  }
  .font-weight-bold {
    font-weight: 600;
  }
  .font-weight-black {
    font-weight: 700;
  }

  // Disable Material Design Ripple Effect
  .v-ripple__container,
  .v-input--selection-controls__ripple {
    display: none !important;
  }

  // input label
  .v-input .v-label {
    @extend .capitalize;
  }

  // Text Field
  .v-text-field {
    .v-label,
    .v-text-field__details {
      @extend .unselectable;
    }
  }

  .v-text-field.v-input--is-disabled .v-input__slot::before {
    border-image: none;
  }

  // App Bar
  .v-app-bar {
    background-color: var(--white);
    border-bottom: 1px solid var(--grey-4);
    box-shadow: none;
  }

  // Toolbar
  .v-toolbar {
    &.v-toolbar--flat {
      background-color: var(--white);
      border-bottom: 1px solid var(--grey-4);
    }
    .v-toolbar__title {
      @extend .capitalize;
      font-weight: 600;
    }
  }

  // Tabs
  .v-tabs {
    .v-tab {
      &.v-tab--active:hover::before {
        opacity: 0.04;
      }
      span {
        @extend .capitalize;
        text-transform: initial;
      }
    }
    .v-tabs-slider-wrapper {
      padding: 0 1rem;
      height: 4pt !important;
      .v-tabs-slider {
        border-top-left-radius: 2pt;
        border-top-right-radius: 2pt;
      }
    }
  }

  // Main
  .v-main {
    background-color: var(--white);
  }

  // Expansion Panel
  .v-expansion-panels {
    .v-expansion-panel {
      &::before {
        box-shadow: none;
      }
    }
    .v-expansion-panel-header {
      border-bottom: 1pt solid var(--grey-4);
      padding-bottom: 0;
    }
  }

  // Card
  .v-card {
    box-shadow: none;
  }

  // Link
  a:not(.v-tab) {
    color: var(--blue);
    &:hover {
      color: var(--blue-light);
    }
  }

  // use this to remove nuxt-link styles
  a.nuxt-link {
    display: block;
    text-decoration: none;
    color: currentColor;
    &:hover {
      color: currentColor;
    }
  }

  // Button
  .v-btn {
    text-transform: initial;
    box-shadow: none;
    min-width: $button-min-width !important;
    min-height: $button-min-height;
    &.v-btn--outlined {
      border: 2px solid currentColor;
    }
    &.v-btn--icon {
      min-width: 1.5rem !important;
    }
    &:not(.v-btn--icon) {
      .v-btn__content {
        display: block;
      }
      .v-icon {
        float: left;
      }
      filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.13));
    }
    .v-btn__content {
      text-transform: capitalize;
    }
  }

  .v-input--checkbox {
    .v-icon.mdi-checkbox-marked::before {
      content: '\F0131';
    }
    .v-icon.mdi-checkbox-blank-outline {
      color: var(--primary);
    }
    &.v-input--is-label-active .v-input--selection-controls__input::before {
      content: '■';
      position: absolute;
      left: 0.18rem;
      top: -0.8rem;
      font-size: 2rem;
      border-radius: 1rem;
    }
  }

  // Snackbar
  .v-snack {
    .v-snack__wrapper {
      border-radius: 0.4rem;
      .v-snack__content {
        @extend .capitalize;
        @extend .font-weight-bold;
      }
    }
  }

  // Data Table
  .v-data-table {
    tbody tr.clickable {
      cursor: pointer;
    }
    .v-data-table-header {
      th.text-start {
        @extend .capitalize;
        &.sortable {
          span {
            margin-right: 0.5rem;
          }
        }
      }
    }
  }

  // capitalize
  // note: doesn't work on inline elements
  @mixin capitalize() {
    &:first-letter {
      text-transform: uppercase;
    }
  }

  .capitalize {
    @include capitalize();
  }

  .unselectable {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
  }
}
