// Ref: https://github.com/nuxt-community/vuetify-module#customvariables

$body-font-family: 'Noto Sans', sans-serif;
$heading-font-family: 'Noto Sans', sans-serif;

// Breakpoints
$grid-breakpoints: (
  'xs': 0,
  'sm': 480px,
  'md': 768px,
  'lg': 960px,
  'xl': 1280px,
);

// Button
$btn-active-opacity: 0;
$btn-border-radius: 0.4rem;
$btn-focus-opacity: 0;
$btn-font-weight: normal;
$btn-hover-opacity: 0;
$btn-letter-spacing: 0;
$btn-text-transform: none;

// Border Radius
$border-radius-root: 0.4rem;

// Card
$card-btn-padding: 0 1rem;

// See https://vuetifyjs.com/en/styles/text-and-typography/#typography

// Typography
$headings: (
  // ---- Title font ----
  'h1':
    (
      'size': 1.25rem,
      'weight': 600,
      'line-height': 135%,
      'letter-spacing': 0,
      'font-family': $heading-font-family,
      'text-transform': false,
    ),
  // ---- Heading font ----
  'h2':
    (
      'size': 1.0625rem,
      'weight': 600,
      'line-height': 135%,
      'letter-spacing': 0,
      'font-family': $heading-font-family,
      'text-transform': false,
    ),
  // ---- Subheading font ----
  'h3':
    (
      'size': 0.9375rem,
      'weight': 600,
      'line-height': 135%,
      'letter-spacing': 0,
      'font-family': $heading-font-family,
      'text-transform': false,
    ),
  // ---- Menu font ----
  'body-1':
    (
      'size': 1.0625rem,
      'weight': normal,
      'line-height': 135%,
      'letter-spacing': 0,
      'font-family': $body-font-family,
      'text-transform': false,
    ),
  // ---- Button font ----
  'button':
    (
      'size': 1.0625rem,
      'weight': normal,
      'line-height': 135%,
      'letter-spacing': 0,
      'font-family': $body-font-family,
      'text-transform': false,
    ),
  // ---- Label font ----
  'subtitle-1':
    (
      'size': 1.0625rem,
      'weight': 600,
      'line-height': 135%,
      'letter-spacing': 0,
      'font-family': $body-font-family,
      'text-transform': false,
    ),
  // ---- Sublabel font ----
  'subtitle-2':
    (
      'size': 0.875rem,
      'weight': normal,
      'line-height': 135%,
      'letter-spacing': 0,
      'font-family': $body-font-family,
      'text-transform': false,
    )
);

$material-light: (
  'background': #fff,
);

@import '~vuetify/src/styles/styles.sass';
